src/main/resources/wsdl/xsd/folha/v1/Arquivo.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Arquivo">
  <xsd:complexType name="Arquivo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="nome" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="tamanho" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dataModificacao" nillable="false" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="codigoOrgao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="codigoEstabelecimento" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
