src/main/resources/wsdl/xsd/folha/v1/Convenio.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Convenio">
  <xsd:complexType name="Convenio">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="codigoServico" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="codigoOrgao" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="codigoConsignataria" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="codigoEstabelecimento" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="verbaConvenio" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="verbaConvenioRef" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="verbaConvenioFerias" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nomeOrgao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nomeConsignataria" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="descricaoServico" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
