src/main/resources/wsdl/xsd/folha/v1/Orgao.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Orgao">
  <xsd:complexType name="Orgao">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="codigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="nome" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="codigoEstabelecimento" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nomeAbreviado" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cnpj" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="email" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="responsavel" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="numero" nillable="true" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="logradouro" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="complemento" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bairro" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="uf" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cep" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefone" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fax" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="diaCorte" nillable="true" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="diaRepasse" nillable="true" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ativo" nillable="true" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="responsavel2" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="responsavel3" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cargoResponsavel" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cargoResponsavel2" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cargoResponsavel3" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefoneResponsavel" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefoneResponsavel2" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefoneResponsavel3" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ipAcesso" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ddnsAcesso" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
