src/main/resources/wsdl/xsd/folha/v1/PapelUsuario.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="PapelUsuario">
  <xsd:complexType name="PapelUsuario">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="cse" nillable="false" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="org" nillable="false" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="csa" nillable="false" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cor" nillable="false" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ser" nillable="false" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="sup" nillable="false" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
