src/main/resources/wsdl/xsd/folha/v1/ParametroServico.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="ParametroServico">
  <xsd:complexType name="ParametroServico">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="codigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="valor" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="valorRef" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
