src/main/resources/wsdl/xsd/folha/v1/Servico.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Servico">
  <xsd:complexType name="Servico">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="codigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="descricao" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="codigoNaturezaServico" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="naturezaServico" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ativo" nillable="true" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="observacao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="prioridade" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
