src/main/resources/wsdl/xsd/folha/v1/Usuario.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Usuario"
     xmlns:ns7="PapelUsuario"
     xmlns:ns8="SituacaoUsuario">
  <xsd:import namespace="PapelUsuario" schemaLocation="PapelUsuario.xsd"/>
  <xsd:import namespace="SituacaoUsuario" schemaLocation="SituacaoUsuario.xsd"/>
  <xsd:complexType name="Usuario">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="login" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nome" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="senha" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="email" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefone" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="perfilCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="funcaoCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="centralizador" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoEntidade" nillable="false" type="ns7:PapelUsuario"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="entidadeCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="entidadeMaeCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="situacaoUsuario" nillable="false" type="ns8:SituacaoUsuario"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="novoLogin" nillable="false" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
