src/main/resources/wsdl/xsd/servidor/v1/Contracheque.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Contracheque">
  <xsd:complexType name="Contracheque">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="periodo" nillable="false" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dataCarga" nillable="false" type="xsd:dateTime"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="texto" nillable="false" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
