src/main/resources/wsdl/xsd/operacional/v6/Boleto.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Boleto">
  <xsd:complexType name="Boleto">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="servidor" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="cpf" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="sexo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dataNascimento" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="estadoCivil" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="identidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="pai" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="mae" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="endereco" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="numero" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="complemento" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="bairro" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="cidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="uf" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="cep" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="telefone" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dataAdmissao" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="prazoServidor" nillable="true" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="categoria" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimento" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgaoEndereco" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgaoNumero" nillable="true" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgaoComplemento" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgaoBairro" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgaoUf" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCep" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgaoTelefone" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="consignataria" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="codVerba" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="ranking" nillable="true" type="xsd:short"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="servico" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valorLiberado" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dataReserva" nillable="true" type="xsd:dateTime"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dataInicial" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="dataFinal" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="adeIdentificador" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="indice" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="pagas" nillable="false" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="taxaJuros" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="situacao" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="statusCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="consignatariaCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="responsavel" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="dataIdentidade" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ufIdentidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="emissorIdentidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cidadeNascimento" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nacionalidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="celular" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="salario" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="dataSaida" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cargoCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cargoDescricao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="habitacaoCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="habitacaoDescricao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="escolaridadeCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="escolaridadeDescricao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="qtdFilhos" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
