src/main/resources/wsdl/xsd/operacional/v6/InfoMargem.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="InfoMargem">
  <xsd:complexType name="InfoMargem">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimento" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="orgao" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="categoria" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="servidor" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="false" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="dataAdmissao" nillable="false" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="prazoServidor" nillable="true" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valorMargem" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="textoMargem" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valorMargem2" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="textoMargem2" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valorMargem3" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="textoMargem3" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="valorMargemLimite" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="identidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="dataIdentidade" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ufIdentidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="emissorIdentidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cidadeNascimento" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nacionalidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="sexo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="estadoCivil" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="endereco" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="numero" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="complemento" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="bairro" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cidade" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="uf" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cep" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefone" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="celular" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="salario" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="dataSaida" nillable="true" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cargoCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cargoDescricao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="habitacaoCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="habitacaoDescricao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="escolaridadeCodigo" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="escolaridadeDescricao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="qtdFilhos" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
