src/main/resources/wsdl/xsd/operacional/v8/Paginacao.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Paginacao">
   <xsd:complexType name="Paginacao">
       <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="0" name="qtdRegistros" nillable="false" type="xsd:int"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="qtdPaginas" nillable="false" type="xsd:int"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="paginaAtual" nillable="false" type="xsd:int"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="registroInicial" nillable="false" type="xsd:int"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="registroFinal" nillable="false" type="xsd:int"/>
       </xsd:sequence>
  </xsd:complexType>
</xsd:schema>