src/main/resources/wsdl/xsd/operacional/v8/SituacaoParcela.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="SituacaoParcela">
   <xsd:complexType name="SituacaoParcela">
       <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="0" name="liquidadaFolha" nillable="false" type="xsd:boolean"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="liquidadaManual" nillable="false" type="xsd:boolean"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="rejeitada" nillable="false" type="xsd:boolean"/>
       </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
