src/main/resources/wsdl/xsd/operacional/HostaHostService-v7_0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="HostaHostService-v7_0"
    xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:ns1="Boleto"
    xmlns:ns2="Servico"
    xmlns:ns3="Servidor" 
    xmlns:ns4="Historico"
    xmlns:ns5="Resumo"
    xmlns:ns6="Margem"
    xmlns:ns7="Simulacao"
    xmlns:ns8="Solicitacao"
    xmlns:ns9="HostaHostService"
    xmlns:ns10="ParametroSet"
    xmlns:ns11="Anexo"
    xmlns:ns12="SituacaoContrato"
    xmlns:ns13="SituacaoServidor"
    xmlns:ns14="DadoConsignacao"
    xmlns:ns15="TaxaDeJuros"
    xmlns:ns16="Parcela"
    xmlns:ns17="DadoAdicional"
    xmlns:ns18="SituacaoUsuario"
    xmlns:ns19="AnexoConsignacao"
    xmlns:ns20="PapelUsuario"
    xmlns:ns21="Usuario">
  <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="../schemas.xmlsoap.org_soap_encoding.xsd"/>
  <xsd:import namespace="Boleto" schemaLocation="v6/Boleto.xsd"/>
  <xsd:import namespace="Servico" schemaLocation="v1/Servico.xsd"/>
  <xsd:import namespace="Servidor" schemaLocation="v7/Servidor.xsd"/>
  <xsd:import namespace="Historico" schemaLocation="v1/Historico.xsd"/>
  <xsd:import namespace="Resumo" schemaLocation="v1/Resumo.xsd"/>
  <xsd:import namespace="Margem" schemaLocation="v7/Margem.xsd"/>
  <xsd:import namespace="Simulacao" schemaLocation="v1/Simulacao.xsd"/>
  <xsd:import namespace="Solicitacao" schemaLocation="v1/Solicitacao.xsd"/>
  <xsd:import namespace="ParametroSet" schemaLocation="v2/ParametroSet.xsd"/>
  <xsd:import namespace="Anexo" schemaLocation="v1/Anexo.xsd"/>
  <xsd:import namespace="SituacaoContrato" schemaLocation="v1/SituacaoContrato.xsd"/>
  <xsd:import namespace="SituacaoServidor" schemaLocation="v4/SituacaoServidor.xsd"/>
  <xsd:import namespace="DadoConsignacao" schemaLocation="v1/DadoConsignacao.xsd"/>
  <xsd:import namespace="TaxaDeJuros" schemaLocation="v3/TaxaDeJuros.xsd"/>
  <xsd:import namespace="Parcela" schemaLocation="v3/Parcela.xsd"/>
  <xsd:import namespace="DadoAdicional" schemaLocation="v7/DadoAdicional.xsd"/>
  <xsd:import namespace="SituacaoUsuario" schemaLocation="v7/SituacaoUsuario.xsd"/>
  <xsd:import namespace="AnexoConsignacao" schemaLocation="v7/AnexoConsignacao.xsd"/>
  <xsd:import namespace="PapelUsuario" schemaLocation="v7/PapelUsuario.xsd"/>
  <xsd:import namespace="Usuario" schemaLocation="v7/Usuario.xsd"/>
  <xsd:element name="alongarConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="novoAdeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorLiberado" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codVerba" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="carencia" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="tokenAutServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="correspondenteCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorTac" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="indice" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorIof" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorMensVin" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="naturezaServicoCodigo" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="alongarConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="alterarConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="novoAdeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorLiberado" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorTac" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorIof" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorMensVin" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="tokenAutServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="indice" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="carencia" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="taxaJuros" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="anexo" nillable="true" type="ns11:Anexo"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="alterarConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="autorizarReserva">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="tokenAutServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="autorizarReservaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cancelarConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cancelarConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cancelarRenegociacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginExternoServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cancelarRenegociacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cancelarReserva">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cancelarReservaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="confirmarReserva">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="confirmarReservaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="confirmarSolicitacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="novoAdeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="tokenAutServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoAutorizacao" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="coeficiente" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="alteraValorLiberado" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="confirmarSolicitacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarMargem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="tokenAutServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codVerba" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matriculaMultipla" nillable="true" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarMargemResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="detalharConsultaConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="correspondenteCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoVerba" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="sdvSolicitado" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="sdvSolicitadoNaoCadastrado" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="sdvSolicitadoCadastrado" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="sdvNaoSolicitado" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="periodo" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataInclusaoInicio" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataInclusaoFim" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="integraFolha" nillable="true" type="xsd:short"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMargem" nillable="true" type="xsd:short"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="indice" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="situacaoContrato" nillable="true" type="ns12:SituacaoContrato"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="situacaoServidor" nillable="true" type="ns13:SituacaoServidor"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="detalharConsultaConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="incluirAnexoConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="anexo" nillable="false" type="ns11:Anexo"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="descricaoAnexo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="incluirAnexoConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="incluirDadoConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dadoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dadoValor" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="incluirDadoConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="dados" nillable="true" type="ns14:DadoConsignacao"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="inserirSolicitacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="tokenAutServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="prazo" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorLiberado" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codVerba" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="endereco" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="bairro" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="cidade" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="uf" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="cep" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="telefone" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="inserirSolicitacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="liquidarConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="liquidarConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="listarDadoConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dadoCodigo" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="listarDadoConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="dados" nillable="true" type="ns14:DadoConsignacao"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="listarSolicitacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="listarSolicitacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="solicitacoes" nillable="true" type="ns8:Solicitacao"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="pesquisarServidor">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="primeiroNome" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ultimoNome" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="pesquisarServidorResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="reativarConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="reativarConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="renegociarConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="adeNumeros" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="novoAdeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorLiberado" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codVerba" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="carencia" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="tokenAutServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="correspondenteCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorTac" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="indice" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorIof" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorMensVin" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="taxaJuros" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="naturezaServicoCodigo" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="renegociarConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="reservarMargem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="tokenAutServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="prazo" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorLiberado" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codVerba" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="correspondenteCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="carencia" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorTac" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="indice" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorIof" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorMensVin" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="taxaJuros" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="naturezaServicoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="periodo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="anexo" nillable="true" type="ns11:Anexo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="reservarMargemResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="simularConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="prazo" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="valorLiberado" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codVerba" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="simularConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="simulacoes" nillable="true" type="ns7:Simulacao"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="suspenderConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="suspenderConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="validarAcesso">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="tokenAutServidor" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="validarAcessoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarParametros">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codVerba" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarParametrosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="parametroSet" nillable="true" type="ns10:ParametroSet"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cadastrarTaxaDeJuros">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codVerba" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="taxaDeJuros" nillable="false" type="ns15:TaxaDeJuros"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cadastrarTaxaDeJurosResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarParcela">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="prdNumero" nillable="true" type="xsd:short"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataDesconto" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarParcelaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="parcelas" nillable="true" type="ns16:Parcela"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="liquidarParcela">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="prdNumero" nillable="true" type="xsd:short"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataDesconto" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorRealizado" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="observacao" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="liquidarParcelaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="parcelas" nillable="true" type="ns16:Parcela"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cadastrarServidor">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="nome" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="titulacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="primeiroNome" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="nomeMeio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ultimoNome" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="nomePai" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="nomeMae" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="nomeConjuge" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cidadeNascimento" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ufNascimento" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="sexo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estadoCivil" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="nacionalidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="identidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataIdentidade" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ufIdentidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="emissorIdentidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="numCarteiraTrabalho" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="numPis" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="logradouro" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="nro" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="complemento" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="bairro" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="uf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cep" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dddTelefone" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="telefone" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dddCelular" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="celular" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="email" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="subOrgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="situacao" nillable="true" type="ns13:SituacaoServidor"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="categoria" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cargoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="municipioLotacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabilizado" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataFimEngajamento" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataLimitePermanencia" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="vinculoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="clt" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataAdmissao" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataContracheque" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="prazoServidor" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="bancoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="bancoAlternativo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="agenciaAlternativa" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="contaAlternativa" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="observacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="praca" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="salario" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="proventos" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="descontosCompulsorios" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="descontosFacultativos" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="baseCalculo" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="associado" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="outrosDescontos" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matriculaInstitucional" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="padraoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="unidadeCodigo" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cadastrarServidorResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servidor" nillable="true" type="ns3:Servidor"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="editarStatusServidor">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="primeiroNome" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="ultimoNome" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="situacao" nillable="true" type="ns13:SituacaoServidor"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataSaida" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataUltimoSalario" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataRetorno" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="pedidoDemissao" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="salario" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="proventos" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="editarStatusServidorResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="validarDadosBancariosServidor">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="banco" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="agencia" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="conta" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="validarDadosBancariosServidorResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="desliquidarConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="desliquidarConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cadastrarUsuario">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuarioAfetado" nillable="true" type="ns21:Usuario"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cadastrarUsuarioResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="entidadeCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="entidadeNome" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="nomeUsuario" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="loginUsuario" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="senhaUsuario" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="editarStatusUsuario">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuarioAfetado" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="situacaoUsuario" nillable="true" type="ns18:SituacaoUsuario"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="editarStatusUsuarioResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="downloadAnexosConsignacao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="nomeArquivo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="compras" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="todos" nillable="true" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="downloadAnexosConsignacaoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="anexos" nillable="true" type="ns19:AnexoConsignacao"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
