src/main/resources/wsdl/CompraService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="CompraService"      
     xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
     xmlns:tns="CompraService"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"     
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
     xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
     xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"     
     xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"   
     xmlns:ns1="Boleto"
     xmlns:ns2="Servico"
     xmlns:ns3="Servidor" 
     xmlns:ns5="Resumo"
     xmlns:ns4="Historico"
     xmlns:ns6="InfoCompra"
     xmlns:ns11="Anexo"     
     xmlns:ns9="CompraService">
<wsdl:types>
   <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="CompraService">
     <xsd:element name="acompanharCompraContrato">
      <xsd:complexType>
        <xsd:sequence>          
          <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>            
          <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="true" type="xsd:string"/>      
          <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>          
          <xsd:element maxOccurs="1" minOccurs="0" name="temPendenciaProcessoCompra" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="temContratosBloqueadosOuABloquear" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="diasParaBloqueio" nillable="true" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="contratosCompradosPelaEntidade" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="saldoDevedorInformado" nillable="true" type="xsd:boolean"/>      
          <xsd:element maxOccurs="1" minOccurs="0" name="diasUteisSemInfoSaldoDevedor" nillable="true" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="saldoDevedorAprovado" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="diasUteisSemAprovacaoSaldoDevedor" nillable="true" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="saldoDevedorPago" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="diasUteisSemPagamentoSaldoDevedor" nillable="true" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="contratoLiquidado" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="diasUteisSemLiquidacao" nillable="true" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataInicioCompra" nillable="false" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dataFimCompra" nillable="false" type="xsd:date"/>
        </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="acompanharCompraContratoResponse">
      <xsd:complexType>
        <xsd:sequence>         
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>       
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="infoCompras" nillable="true" type="ns6:InfoCompra" />
        </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="comprarContrato">
      <xsd:complexType>
       <xsd:sequence>         
         <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>      
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="adeNumeros" nillable="true" type="xsd:long"/>
         <xsd:element maxOccurs="unbounded" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/> 
         <xsd:element maxOccurs="1" minOccurs="0" name="novoAdeIdentificador" nillable="true" type="xsd:string"/>     
         <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="true" type="xsd:date"/>      
         <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="valorLiberado" nillable="true" type="xsd:double"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="codVerba" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="carencia" nillable="true" type="xsd:int"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="tokenAutServidor" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="correspondenteCodigo" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="valorTac" nillable="true" type="xsd:double"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="indice" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="valorIof" nillable="true" type="xsd:double"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="valorMensVin" nillable="true" type="xsd:double"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="taxaJuros" nillable="true" type="xsd:double"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="naturezaServicoCodigo" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="anexo" nillable="true" type="ns11:Anexo" />     
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="comprarContratoResponse">
      <xsd:complexType>
       <xsd:sequence>       
        <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>       
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto" />
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico" />
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo" />
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico" />
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="informarSaldoDevedor">
      <xsd:complexType>
       <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>      
         <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="valorSaldoDevedor" nillable="false" type="xsd:double"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="dataVencimento" nillable="true" type="xsd:date"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="valorSaldoDevedor2" nillable="true" type="xsd:double"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="dataVencimento2" nillable="true" type="xsd:date"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="valorSaldoDevedor3" nillable="true" type="xsd:double"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="dataVencimento3" nillable="true" type="xsd:date"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="numeroPrestacoes" nillable="true" type="xsd:short"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="nomeFavorecido" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="cnpjFavorecido" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="numeroContrato" nillable="true" type="xsd:long"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="linkBoleto" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="observacao" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="detalheSaldoDevedor" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="anexoDsdSaldoCompra" nillable="true" type="ns11:Anexo" />
         <xsd:element maxOccurs="1" minOccurs="0" name="anexoBoletoDsdSaldo" nillable="true" type="ns11:Anexo" />
         <xsd:element maxOccurs="1" minOccurs="0" name="propostaRefinanciamento" nillable="true" type="xsd:string"/>
       </xsd:sequence>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="informarSaldoDevedorResponse">
      <xsd:complexType>
        <xsd:sequence>        
         <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>        
         <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>         
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="informarPagamentoSaldoDevedor">
      <xsd:complexType>
       <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/> 
         <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="observacao" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="anexo" nillable="true" type="ns11:Anexo" />     
       </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="informarPagamentoSaldoDevedorResponse">
      <xsd:complexType>
        <xsd:sequence>        
         <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>        
         <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>         
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="retirarContratoDaCompra">
      <xsd:complexType>
       <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/> 
         <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="observacao" nillable="true" type="xsd:string"/>   
         <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>  
       </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="retirarContratoDaCompraResponse">
      <xsd:complexType>
        <xsd:sequence>        
         <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>        
         <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>         
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="cancelarCompra">
      <xsd:complexType>
       <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/> 
         <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>     
       </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="cancelarCompraResponse">
      <xsd:complexType>
        <xsd:sequence>        
         <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>        
         <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>         
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="liquidarCompra">
      <xsd:complexType>
       <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/> 
         <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>     
       </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="liquidarCompraResponse">
      <xsd:complexType>
        <xsd:sequence>        
         <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>        
         <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>         
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="rejeitarPgSaldoDevedor">
      <xsd:complexType>
       <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/> 
         <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>         
         <xsd:element maxOccurs="1" minOccurs="0" name="observacao" nillable="true" type="xsd:string"/>     
       </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="rejeitarPgSaldoDevedorResponse">
      <xsd:complexType>
        <xsd:sequence>        
         <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>        
         <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>         
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="solicitarRecalculoSaldoDevedor">
      <xsd:complexType>
       <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/> 
         <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>         
         <xsd:element maxOccurs="1" minOccurs="0" name="observacao" nillable="true" type="xsd:string"/>     
       </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="solicitarRecalculoSaldoDevedorResponse">
      <xsd:complexType>
        <xsd:sequence>        
         <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>        
         <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>         
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
     <xsd:element name="consultarConsignacaoParaCompra">
     <xsd:complexType>
       <xsd:sequence>         
         <xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="convenio" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>         
       </xsd:sequence>
     </xsd:complexType>
   </xsd:element>
   <xsd:element name="consultarConsignacaoParaCompraResponse">
   <xsd:complexType>
     <xsd:sequence>       
       <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
       <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>       
       <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
       <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto" />
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico" />
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="servidores" nillable="true" type="ns3:Servidor" />
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo" />
     </xsd:sequence>
   </xsd:complexType>
   </xsd:element>                     
   </xsd:schema>
   <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="InfoCompra">
     <xsd:complexType name="InfoCompra">
        <xsd:sequence>
         <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long" />          
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoConsignataria" nillable="true" type="xsd:string" />
          <xsd:element maxOccurs="1" minOccurs="0" name="nomeConsignataria" nillable="true" type="xsd:string" />          
          <xsd:element maxOccurs="1" minOccurs="0" name="nomeServidor" nillable="true" type="xsd:string" />
          <xsd:element maxOccurs="1" minOccurs="0" name="matricula" nillable="true" type="xsd:string" />          
          <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="xsd:string" />
          <xsd:element maxOccurs="1" minOccurs="0" name="dataCompra" nillable="true" type="xsd:dateTime" />          
          <xsd:element maxOccurs="1" minOccurs="0" name="dataInfoSaldoDevedor" nillable="true" type="xsd:dateTime" />
          <xsd:element maxOccurs="1" minOccurs="0" name="valorSaldoDevedor" nillable="true" type="xsd:double" />
          <xsd:element maxOccurs="1" minOccurs="0" name="dataAprovacaoSaldoDevedor" nillable="true" type="xsd:dateTime" />
          <xsd:element maxOccurs="1" minOccurs="0" name="dataPagamentoSaldoDevedor" nillable="true" type="xsd:dateTime" />
          <xsd:element maxOccurs="1" minOccurs="0" name="situacao" nillable="true" type="xsd:string" />
       </xsd:sequence>
     </xsd:complexType>
   </xsd:schema>
   <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Boleto">
     <xsd:complexType name="Boleto">
      <xsd:sequence>        
        <xsd:element maxOccurs="1" minOccurs="1" name="servidor" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="sexo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataNascimento" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="estadoCivil" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="identidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="pai" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mae" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="endereco" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="numero" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="complemento" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="bairro" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="cidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="uf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="cep" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="telefone" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataAdmissao" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="prazoServidor" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="categoria" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimento" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>         
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoEndereco" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoNumero" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoComplemento" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoBairro" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoUf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCep" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoTelefone" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="consignataria" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="codVerba" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="ranking" nillable="true" type="xsd:short"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="servico" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorLiberado" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataReserva" nillable="true" type="xsd:dateTime"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataInicial" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataFinal" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="indice" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="pagas" nillable="false" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="taxaJuros" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="situacao" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="statusCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="consignatariaCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="responsavel" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>  
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Historico">
   <xsd:complexType name="Historico">
       <xsd:sequence>         
         <xsd:element maxOccurs="1" minOccurs="1" name="data" nillable="false" type="xsd:dateTime"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="responsavel" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="tipo" nillable="false" type="xsd:string"/>   
         <xsd:element maxOccurs="1" minOccurs="1" name="descricao" nillable="false" type="xsd:string"/>   
       </xsd:sequence>
  </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Resumo">
   <xsd:complexType name="Resumo">
       <xsd:sequence>         
         <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="adeIdentificador" nillable="true" type="xsd:string"/>   
         <xsd:element maxOccurs="1" minOccurs="1" name="indice" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="responsavel" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="servico" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="codVerba" nillable="true" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="dataReserva" nillable="true" type="xsd:dateTime"/>         
         <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="pagas" nillable="true" type="xsd:int"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="situacao" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="statusCodigo" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="consignataria" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="0" name="consignatariaCodigo" nillable="true" type="xsd:string"/>         
       </xsd:sequence>
  </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Servico">
   <xsd:complexType name="Servico">
       <xsd:sequence>         
         <xsd:element maxOccurs="1" minOccurs="1" name="servico" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>   
       </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Servidor">
   <xsd:complexType name="Servidor">
       <xsd:sequence>         
         <xsd:element maxOccurs="1" minOccurs="1" name="servidor" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="cpf" nillable="false" type="xsd:string"/>   
         <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimento" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCodigo" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="orgao" nillable="false" type="xsd:string"/>         
       </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Anexo"
     xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/">
   <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="xsd/schemas.xmlsoap.org_soap_encoding.xsd"/>
   <xsd:complexType name="Anexo">
       <xsd:sequence>         
         <xsd:element maxOccurs="1" minOccurs="1" name="nomeArquivo" nillable="false" type="xsd:string"/>
         <xsd:element maxOccurs="1" minOccurs="1" name="arquivo" type="soapenc11:base64"/>
       </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
</wsdl:types>
<wsdl:message name="acompanharCompraContratoResponse">
  <wsdl:part name="parameters" element="tns:acompanharCompraContratoResponse"/>
</wsdl:message>
<wsdl:message name="acompanharCompraContratoRequest">
  <wsdl:part name="parameters" element="tns:acompanharCompraContrato"/>
</wsdl:message>
<wsdl:message name="comprarContratoResponse">
  <wsdl:part name="parameters" element="tns:comprarContratoResponse"/>
</wsdl:message>
<wsdl:message name="comprarContratoRequest">
  <wsdl:part name="parameters" element="tns:comprarContrato"/>
</wsdl:message>
<wsdl:message name="informarSaldoDevedorResponse">
  <wsdl:part name="parameters" element="tns:informarSaldoDevedorResponse"/>
</wsdl:message>
<wsdl:message name="informarSaldoDevedorRequest">
  <wsdl:part name="parameters" element="tns:informarSaldoDevedor"/>
</wsdl:message>
<wsdl:message name="informarPagamentoSaldoDevedorResponse">
  <wsdl:part name="parameters" element="tns:informarPagamentoSaldoDevedorResponse"/>
</wsdl:message>
<wsdl:message name="informarPagamentoSaldoDevedorRequest">
  <wsdl:part name="parameters" element="tns:informarPagamentoSaldoDevedor"/>
</wsdl:message>
<wsdl:message name="retirarContratoDaCompraResponse">
  <wsdl:part name="parameters" element="tns:retirarContratoDaCompraResponse"/>
</wsdl:message>
<wsdl:message name="retirarContratoDaCompraRequest">
  <wsdl:part name="parameters" element="tns:retirarContratoDaCompra"/>
</wsdl:message>
<wsdl:message name="cancelarCompraResponse">
  <wsdl:part name="parameters" element="tns:cancelarCompraResponse"/>
</wsdl:message>
<wsdl:message name="cancelarCompraRequest">
  <wsdl:part name="parameters" element="tns:cancelarCompra"/>
</wsdl:message>
<wsdl:message name="liquidarCompraResponse">
  <wsdl:part name="parameters" element="tns:liquidarCompraResponse"/>
</wsdl:message>
<wsdl:message name="liquidarCompraRequest">
  <wsdl:part name="parameters" element="tns:liquidarCompra"/>
</wsdl:message>
<wsdl:message name="rejeitarPgSaldoDevedorResponse">
  <wsdl:part name="parameters" element="tns:rejeitarPgSaldoDevedorResponse"/>
</wsdl:message>
<wsdl:message name="rejeitarPgSaldoDevedorRequest">
  <wsdl:part name="parameters" element="tns:rejeitarPgSaldoDevedor"/>
</wsdl:message>
<wsdl:message name="solicitarRecalculoSaldoDevedorResponse">
  <wsdl:part name="parameters" element="tns:solicitarRecalculoSaldoDevedorResponse"/>
</wsdl:message>
<wsdl:message name="solicitarRecalculoSaldoDevedorRequest">
  <wsdl:part name="parameters" element="tns:solicitarRecalculoSaldoDevedor"/>
</wsdl:message>
<wsdl:message name="consultarConsignacaoParaCompraResponse">
  <wsdl:part name="parameters" element="tns:consultarConsignacaoParaCompraResponse"/>
</wsdl:message>
<wsdl:message name="consultarConsignacaoParaCompraRequest">
  <wsdl:part name="parameters" element="tns:consultarConsignacaoParaCompra"/>
</wsdl:message>
<wsdl:portType name="CompraPortType">
  <wsdl:operation name="acompanharCompraContrato">
    <wsdl:input name="acompanharCompraContratoRequest" message="tns:acompanharCompraContratoRequest"/>
    <wsdl:output name="acompanharCompraContratoResponse" message="tns:acompanharCompraContratoResponse"/>      
  </wsdl:operation>
  <wsdl:operation name="comprarContrato">
    <wsdl:input name="comprarContratoRequest" message="tns:comprarContratoRequest"/>
    <wsdl:output name="comprarContratoResponse" message="tns:comprarContratoResponse"/>      
  </wsdl:operation>
  <wsdl:operation name="informarSaldoDevedor">
    <wsdl:input name="informarSaldoDevedorRequest" message="tns:informarSaldoDevedorRequest"/>
    <wsdl:output name="informarSaldoDevedorResponse" message="tns:informarSaldoDevedorResponse"/>      
  </wsdl:operation>
  <wsdl:operation name="informarPagamentoSaldoDevedor">
    <wsdl:input name="informarPagamentoSaldoDevedorRequest" message="tns:informarPagamentoSaldoDevedorRequest"/>
    <wsdl:output name="informarPagamentoSaldoDevedorResponse" message="tns:informarPagamentoSaldoDevedorResponse"/>      
  </wsdl:operation>
  <wsdl:operation name="retirarContratoDaCompra">
    <wsdl:input name="retirarContratoDaCompraRequest" message="tns:retirarContratoDaCompraRequest"/>
    <wsdl:output name="retirarContratoDaCompraResponse" message="tns:retirarContratoDaCompraResponse"/>      
  </wsdl:operation>
  <wsdl:operation name="cancelarCompra">
    <wsdl:input name="cancelarCompraRequest" message="tns:cancelarCompraRequest"/>
    <wsdl:output name="cancelarCompraResponse" message="tns:cancelarCompraResponse"/>      
  </wsdl:operation>
  <wsdl:operation name="liquidarCompra">
    <wsdl:input name="liquidarCompraRequest" message="tns:liquidarCompraRequest"/>
    <wsdl:output name="liquidarCompraResponse" message="tns:liquidarCompraResponse"/>      
  </wsdl:operation>
  <wsdl:operation name="rejeitarPgSaldoDevedor">
    <wsdl:input name="rejeitarPgSaldoDevedorRequest" message="tns:rejeitarPgSaldoDevedorRequest"/>
    <wsdl:output name="rejeitarPgSaldoDevedorResponse" message="tns:rejeitarPgSaldoDevedorResponse"/>      
  </wsdl:operation>
  <wsdl:operation name="solicitarRecalculoSaldoDevedor">
    <wsdl:input name="solicitarRecalculoSaldoDevedorRequest" message="tns:solicitarRecalculoSaldoDevedorRequest"/>
    <wsdl:output name="solicitarRecalculoSaldoDevedorResponse" message="tns:solicitarRecalculoSaldoDevedorResponse"/>      
  </wsdl:operation>
  <wsdl:operation name="consultarConsignacaoParaCompra">
    <wsdl:input name="consultarConsignacaoParaCompraRequest" message="tns:consultarConsignacaoParaCompraRequest"/>
    <wsdl:output name="consultarConsignacaoParaCompraResponse" message="tns:consultarConsignacaoParaCompraResponse"/>      
  </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CompraHttpBinding" type="tns:CompraPortType">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="acompanharCompraContrato">
      <wsdlsoap:operation soapAction="urn:acompanharCompraContrato"/>
      <wsdl:input name="acompanharCompraContratoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="acompanharCompraContratoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="comprarContrato">
      <wsdlsoap:operation soapAction="urn:comprarContrato"/>
      <wsdl:input name="comprarContratoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="comprarContratoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="informarSaldoDevedor">
      <wsdlsoap:operation soapAction="urn:informarSaldoDevedor"/>
      <wsdl:input name="informarSaldoDevedorRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="informarSaldoDevedorResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="informarPagamentoSaldoDevedor">
      <wsdlsoap:operation soapAction="urn:informarPagamentoSaldoDevedor"/>
      <wsdl:input name="informarPagamentoSaldoDevedorRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="informarPagamentoSaldoDevedorResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="retirarContratoDaCompra">
      <wsdlsoap:operation soapAction="urn:retirarContratoDaCompra"/>
      <wsdl:input name="retirarContratoDaCompraRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retirarContratoDaCompraResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="cancelarCompra">
      <wsdlsoap:operation soapAction="urn:cancelarCompra"/>
      <wsdl:input name="cancelarCompraRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarCompraResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="liquidarCompra">
      <wsdlsoap:operation soapAction="urn:liquidarCompra"/>
      <wsdl:input name="liquidarCompraRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="liquidarCompraResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="rejeitarPgSaldoDevedor">
      <wsdlsoap:operation soapAction="urn:rejeitarPgSaldoDevedor"/>
      <wsdl:input name="rejeitarPgSaldoDevedorRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="rejeitarPgSaldoDevedorResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="solicitarRecalculoSaldoDevedor">
      <wsdlsoap:operation soapAction="urn:solicitarRecalculoSaldoDevedor"/>
      <wsdl:input name="solicitarRecalculoSaldoDevedorRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="solicitarRecalculoSaldoDevedorResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
    <wsdl:operation name="consultarConsignacaoParaCompra">
      <wsdlsoap:operation soapAction="urn:consultarConsignacaoParaCompra"/>
      <wsdl:input name="consultarConsignacaoParaCompraRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarConsignacaoParaCompraResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>      
    </wsdl:operation>
</wsdl:binding>
<wsdl:service name="CompraService">
    <wsdl:port name="CompraHttpPort" binding="tns:CompraHttpBinding">
      <wsdlsoap:address location="http://localhost:8080/services/CompraService"/>
    </wsdl:port>
</wsdl:service>
</wsdl:definitions>
