src/main/resources/wsdl/ServidorService-v2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="ServidorService"      
     xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
     xmlns:tns="ServidorService"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
     xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
     xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
     xmlns:ns2="Servico"
     xmlns:ns3="DadosServidor"
     xmlns:ns4="Historico"
     xmlns:ns1="Boleto"
     xmlns:ns5="Resumo"
     xmlns:ns6="InfoMargem"
     xmlns:ns7="Simulacao"
     xmlns:ns12="SituacaoContrato"
     xmlns:ns14="Contracheque"
     xmlns:ns9="ServidorService">
<wsdl:types>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="ServidorService">
    <xsd:element name="cancelarSolicitacaoServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoMotivoOperacao" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="obsMotivoOperacao" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="cancelarSolicitacaoServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="consultarConsignacaoServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="consultarConsignacaoServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="consultarDadosCadastraisServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="consultarDadosCadastraisServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dadosServidor" nillable="true" type="ns3:DadosServidor"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="consultarMargemServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codVerba" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="consultarMargemServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="infoMargem" nillable="true" type="ns6:InfoMargem"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="detalharConsultaConsignacaoServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="adeNumero" nillable="true" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="adeIdentificador" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="consignatariaCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="correspondenteCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoVerba" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sdvSolicitado" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sdvSolicitadoNaoCadastrado" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sdvSolicitadoCadastrado" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sdvNaoSolicitado" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="periodo" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataInclusaoInicio" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataInclusaoFim" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="integraFolha" nillable="true" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoMargem" nillable="true" type="xsd:short"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="indice" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="situacaoContrato" nillable="true" type="ns12:SituacaoContrato"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="detalharConsultaConsignacaoServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="historicos" nillable="true" type="ns4:Historico"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="resumos" nillable="true" type="ns5:Resumo"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="inserirSolicitacaoServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="consignatariaCodigo" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="valorLiberado" nillable="false" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="endereco" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numero" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="complemento" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="bairro" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cidade" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="uf" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cep" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="telefone" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="celular" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="email" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="municipioLotacao" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="termoAceite" nillable="true" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="inserirSolicitacaoServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="boleto" nillable="true" type="ns1:Boleto"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="simularConsignacaoServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="valorParcela" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="valorLiberado" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="prazo" nillable="true" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="simularConsignacaoServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="podeSolicitar" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="podeSimular" nillable="true" type="xsd:boolean"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="simulacoes" nillable="true" type="ns7:Simulacao"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="servicos" nillable="true" type="ns2:Servico"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="consultarContraChequeServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="periodo" nillable="true" type="xsd:date"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="consultarContraChequeServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="contracheque" nillable="true" type="ns14:Contracheque"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="gerarSenhaAutorizacaoServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="usuario" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="senhaUsuario" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="protocoloSenhaAutorizacao" nillable="false" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="gerarSenhaAutorizacaoServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="senhaServidor" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="verificarLimitesSenhaAutorizacao">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="usuario" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="senhaUsuario" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="protocoloSenhaAutorizacao" nillable="false" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="verificarLimitesSenhaAutorizacaoResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="recuperarPerguntaDadosCadastrais">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="grupoPergunta" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="usuario" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="recuperarPerguntaDadosCadastraisResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroPergunta" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="textoPergunta" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="verificarRespostaDadosCadastrais">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="loginServidor" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="grupoPergunta" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="pergunta" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="resposta" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="usuario" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="verificarRespostaDadosCadastraisResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="numeroPergunta" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="textoPergunta" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="verificarEmailServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="email" nillable="false" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="verificarEmailServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="cadastrarEmailServidor">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="email" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="senhaUsuario" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="protocoloCadastroEmail" nillable="false" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="banco" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="agencia" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="conta" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="exigeGrupoPerguntas" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="cadastrarEmailServidorResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="sucesso" nillable="false" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codRetorno" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="DadosServidor">
     <xsd:complexType name="DadosServidor">
         <xsd:sequence>
           <xsd:element maxOccurs="1" minOccurs="1" name="servidor" nillable="false" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="cpf" nillable="false" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimento" nillable="false" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCodigo" nillable="false" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="orgao" nillable="false" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="sexo" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="dataNascimento" nillable="true" type="xsd:date"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="estadoCivil" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="identidade" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="pai" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="mae" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="endereco" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="numero" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="complemento" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="bairro" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="cidade" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="uf" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="cep" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="telefone" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="celular" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="dataAdmissao" nillable="true" type="xsd:date"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="prazoServidor" nillable="true" type="xsd:int"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="nacionalidade" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="carteiraTrabalho" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="pis" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="1" name="categoria" nillable="true" type="xsd:string"/>
           <xsd:element maxOccurs="1" minOccurs="0" name="email" nillable="true" type="xsd:string"/>
         </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Boleto">
    <xsd:complexType name="Boleto">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="servidor" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="cpf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="sexo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataNascimento" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="estadoCivil" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="identidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="pai" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mae" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="endereco" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="numero" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="complemento" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="bairro" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="cidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="uf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="cep" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="telefone" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataAdmissao" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="prazoServidor" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="categoria" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimento" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgao" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoEndereco" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoNumero" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoComplemento" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoBairro" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCidade" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoUf" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCep" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="orgaoTelefone" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="consignataria" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="codVerba" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="ranking" nillable="true" type="xsd:short"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="servico" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorLiberado" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataReserva" nillable="true" type="xsd:dateTime"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataInicial" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataFinal" nillable="true" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="indice" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="pagas" nillable="false" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="taxaJuros" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="situacao" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="statusCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="consignatariaCodigo" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="responsavel" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Historico">
    <xsd:complexType name="Historico">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="data" nillable="false" type="xsd:dateTime"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="responsavel" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="tipo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="descricao" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Resumo">
    <xsd:complexType name="Resumo">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="false" type="xsd:long"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="adeIdentificador" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="indice" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="responsavel" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="servico" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="codVerba" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataReserva" nillable="true" type="xsd:dateTime"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="pagas" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="situacao" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="statusCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="consignataria" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="consignatariaCodigo" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Servico">
    <xsd:complexType name="Servico">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="servico" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="InfoMargem">
    <xsd:complexType name="InfoMargem">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimento" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="orgao" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="categoria" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="servidor" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="false" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="dataAdmissao" nillable="false" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="prazoServidor" nillable="true" type="xsd:int"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorMargem" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="textoMargem" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorMargem2" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="textoMargem2" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorMargem3" nillable="true" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="textoMargem3" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Simulacao">
    <xsd:complexType name="Simulacao">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="consignatariaCodigo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="consignataria" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorLiberado" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="ranking" nillable="false" type="xsd:short"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="taxaJuros" nillable="false" type="xsd:double"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servico" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="servicoCodigo" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="SituacaoContrato">
    <xsd:complexType name="SituacaoContrato">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="solicitado" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="aguardandoConfirmacao" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="aguardandoDeferimento" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="indeferida" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="deferida" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="emAndamento" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="suspensa" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="cancelada" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="liquidada" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="concluido" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="suspensaPeloConsignante" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="aguardandoLiquidacao" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="estoque" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="estoqueNaoLiberado" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="emCarencia" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="aguardandoLiquidacaoCompra" nillable="true" type="xsd:boolean"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="estoqueMensal" nillable="true" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>
  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Contracheque">
    <xsd:complexType name="Contracheque">
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="periodo" nillable="false" type="xsd:date"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="dataCarga" nillable="false" type="xsd:dateTime"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="texto" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>
</wsdl:types>
<wsdl:message name="cancelarSolicitacaoServidorResponse">
  <wsdl:part name="parameters" element="tns:cancelarSolicitacaoServidorResponse"/>
</wsdl:message>
<wsdl:message name="cancelarSolicitacaoServidorRequest">
  <wsdl:part name="parameters" element="tns:cancelarSolicitacaoServidor"/>
</wsdl:message>
<wsdl:message name="consultarConsignacaoServidorResponse">
  <wsdl:part name="parameters" element="tns:consultarConsignacaoServidorResponse"/>
</wsdl:message>
<wsdl:message name="consultarConsignacaoServidorRequest">
  <wsdl:part name="parameters" element="tns:consultarConsignacaoServidor"/>
</wsdl:message>
<wsdl:message name="consultarDadosCadastraisServidorResponse">
  <wsdl:part name="parameters" element="tns:consultarDadosCadastraisServidorResponse"/>
</wsdl:message>
<wsdl:message name="consultarDadosCadastraisServidorRequest">
  <wsdl:part name="parameters" element="tns:consultarDadosCadastraisServidor"/>
</wsdl:message>
<wsdl:message name="consultarMargemServidorResponse">
  <wsdl:part name="parameters" element="tns:consultarMargemServidorResponse"/>
</wsdl:message>
<wsdl:message name="consultarMargemServidorRequest">
  <wsdl:part name="parameters" element="tns:consultarMargemServidor"/>
</wsdl:message>
<wsdl:message name="detalharConsultaConsignacaoServidorResponse">
  <wsdl:part name="parameters" element="tns:detalharConsultaConsignacaoServidorResponse"/>
</wsdl:message>
<wsdl:message name="detalharConsultaConsignacaoServidorRequest">
  <wsdl:part name="parameters" element="tns:detalharConsultaConsignacaoServidor"/>
</wsdl:message>
<wsdl:message name="inserirSolicitacaoServidorResponse">
  <wsdl:part name="parameters" element="tns:inserirSolicitacaoServidorResponse"/>
</wsdl:message>
<wsdl:message name="inserirSolicitacaoServidorRequest">
  <wsdl:part name="parameters" element="tns:inserirSolicitacaoServidor"/>
</wsdl:message>
<wsdl:message name="simularConsignacaoServidorResponse">
  <wsdl:part name="parameters" element="tns:simularConsignacaoServidorResponse"/>
</wsdl:message>
<wsdl:message name="simularConsignacaoServidorRequest">
  <wsdl:part name="parameters" element="tns:simularConsignacaoServidor"/>
</wsdl:message>
<wsdl:message name="consultarContraChequeServidorResponse">
  <wsdl:part name="parameters" element="tns:consultarContraChequeServidorResponse"/>
</wsdl:message>
<wsdl:message name="consultarContraChequeServidorRequest">
  <wsdl:part name="parameters" element="tns:consultarContraChequeServidor"/>
</wsdl:message>
<wsdl:message name="gerarSenhaAutorizacaoServidorResponse">
  <wsdl:part name="parameters" element="tns:gerarSenhaAutorizacaoServidorResponse"/>
</wsdl:message>
<wsdl:message name="gerarSenhaAutorizacaoServidorRequest">
  <wsdl:part name="parameters" element="tns:gerarSenhaAutorizacaoServidor"/>
</wsdl:message>
<wsdl:message name="verificarLimitesSenhaAutorizacaoResponse">
  <wsdl:part name="parameters" element="tns:verificarLimitesSenhaAutorizacaoResponse"/>
</wsdl:message>
<wsdl:message name="verificarLimitesSenhaAutorizacaoRequest">
  <wsdl:part name="parameters" element="tns:verificarLimitesSenhaAutorizacao"/>
</wsdl:message>
<wsdl:message name="recuperarPerguntaDadosCadastraisResponse">
  <wsdl:part name="parameters" element="tns:recuperarPerguntaDadosCadastraisResponse"/>
</wsdl:message>
<wsdl:message name="recuperarPerguntaDadosCadastraisRequest">
  <wsdl:part name="parameters" element="tns:recuperarPerguntaDadosCadastrais"/>
</wsdl:message>
<wsdl:message name="verificarRespostaDadosCadastraisResponse">
  <wsdl:part name="parameters" element="tns:verificarRespostaDadosCadastraisResponse"/>
</wsdl:message>
<wsdl:message name="verificarRespostaDadosCadastraisRequest">
  <wsdl:part name="parameters" element="tns:verificarRespostaDadosCadastrais"/>
</wsdl:message>
<wsdl:message name="verificarEmailServidorResponse">
  <wsdl:part name="parameters" element="tns:verificarEmailServidorResponse"/>
</wsdl:message>
<wsdl:message name="verificarEmailServidorRequest">
  <wsdl:part name="parameters" element="tns:verificarEmailServidor"/>
</wsdl:message>
<wsdl:message name="cadastrarEmailServidorResponse">
  <wsdl:part name="parameters" element="tns:cadastrarEmailServidorResponse"/>
</wsdl:message>
<wsdl:message name="cadastrarEmailServidorRequest">
  <wsdl:part name="parameters" element="tns:cadastrarEmailServidor"/>
</wsdl:message>
<wsdl:portType name="ServidorPortType">
  <wsdl:operation name="cancelarSolicitacaoServidor">
    <wsdl:input name="cancelarSolicitacaoServidorRequest" message="tns:cancelarSolicitacaoServidorRequest"/>
    <wsdl:output name="cancelarSolicitacaoServidorResponse" message="tns:cancelarSolicitacaoServidorResponse"/>
  </wsdl:operation>
  <wsdl:operation name="consultarConsignacaoServidor">
    <wsdl:input name="consultarConsignacaoServidorRequest" message="tns:consultarConsignacaoServidorRequest"/>
    <wsdl:output name="consultarConsignacaoServidorResponse" message="tns:consultarConsignacaoServidorResponse"/>
  </wsdl:operation>
  <wsdl:operation name="consultarDadosCadastraisServidor">
    <wsdl:input name="consultarDadosCadastraisServidorRequest" message="tns:consultarDadosCadastraisServidorRequest"/>
    <wsdl:output name="consultarDadosCadastraisServidorResponse" message="tns:consultarDadosCadastraisServidorResponse"/>
  </wsdl:operation>
  <wsdl:operation name="consultarMargemServidor">
    <wsdl:input name="consultarMargemServidorRequest" message="tns:consultarMargemServidorRequest"/>
    <wsdl:output name="consultarMargemServidorResponse" message="tns:consultarMargemServidorResponse"/>
  </wsdl:operation>
  <wsdl:operation name="detalharConsultaConsignacaoServidor">
    <wsdl:input name="detalharConsultaConsignacaoServidorRequest" message="tns:detalharConsultaConsignacaoServidorRequest"/>
    <wsdl:output name="detalharConsultaConsignacaoServidorResponse" message="tns:detalharConsultaConsignacaoServidorResponse"/>
  </wsdl:operation>
  <wsdl:operation name="inserirSolicitacaoServidor">
    <wsdl:input name="inserirSolicitacaoServidorRequest" message="tns:inserirSolicitacaoServidorRequest"/>
    <wsdl:output name="inserirSolicitacaoServidorResponse" message="tns:inserirSolicitacaoServidorResponse"/>
  </wsdl:operation>
  <wsdl:operation name="simularConsignacaoServidor">
    <wsdl:input name="simularConsignacaoServidorRequest" message="tns:simularConsignacaoServidorRequest"/>
    <wsdl:output name="simularConsignacaoServidorResponse" message="tns:simularConsignacaoServidorResponse"/>
  </wsdl:operation>
  <wsdl:operation name="consultarContraChequeServidor">
    <wsdl:input name="consultarContraChequeServidorRequest" message="tns:consultarContraChequeServidorRequest"/>
    <wsdl:output name="consultarContraChequeServidorResponse" message="tns:consultarContraChequeServidorResponse"/>
  </wsdl:operation>
  <wsdl:operation name="gerarSenhaAutorizacaoServidor">
    <wsdl:input name="gerarSenhaAutorizacaoServidorRequest" message="tns:gerarSenhaAutorizacaoServidorRequest"/>
    <wsdl:output name="gerarSenhaAutorizacaoServidorResponse" message="tns:gerarSenhaAutorizacaoServidorResponse"/>
  </wsdl:operation>
  <wsdl:operation name="verificarLimitesSenhaAutorizacao">
    <wsdl:input name="verificarLimitesSenhaAutorizacaoRequest" message="tns:verificarLimitesSenhaAutorizacaoRequest"/>
    <wsdl:output name="verificarLimitesSenhaAutorizacaoResponse" message="tns:verificarLimitesSenhaAutorizacaoResponse"/>
  </wsdl:operation>
  <wsdl:operation name="recuperarPerguntaDadosCadastrais">
    <wsdl:input name="recuperarPerguntaDadosCadastraisRequest" message="tns:recuperarPerguntaDadosCadastraisRequest"/>
    <wsdl:output name="recuperarPerguntaDadosCadastraisResponse" message="tns:recuperarPerguntaDadosCadastraisResponse"/>
  </wsdl:operation>
  <wsdl:operation name="verificarRespostaDadosCadastrais">
    <wsdl:input name="verificarRespostaDadosCadastraisRequest" message="tns:verificarRespostaDadosCadastraisRequest"/>
    <wsdl:output name="verificarRespostaDadosCadastraisResponse" message="tns:verificarRespostaDadosCadastraisResponse"/>
  </wsdl:operation>
  <wsdl:operation name="verificarEmailServidor">
    <wsdl:input name="verificarEmailServidorRequest" message="tns:verificarEmailServidorRequest"/>
    <wsdl:output name="verificarEmailServidorResponse" message="tns:verificarEmailServidorResponse"/>
  </wsdl:operation>
  <wsdl:operation name="cadastrarEmailServidor">
    <wsdl:input name="cadastrarEmailServidorRequest" message="tns:cadastrarEmailServidorRequest"/>
    <wsdl:output name="cadastrarEmailServidorResponse" message="tns:cadastrarEmailServidorResponse"/>
  </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ServidorHttpBinding" type="tns:ServidorPortType">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="cancelarSolicitacaoServidor">
    <wsdlsoap:operation soapAction="urn:cancelarSolicitacaoServidor"/>
    <wsdl:input name="cancelarSolicitacaoServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="cancelarSolicitacaoServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="consultarConsignacaoServidor">
    <wsdlsoap:operation soapAction="urn:consultarConsignacaoServidor"/>
    <wsdl:input name="consultarConsignacaoServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="consultarConsignacaoServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="consultarDadosCadastraisServidor">
    <wsdlsoap:operation soapAction="urn:consultarDadosCadastraisServidor"/>
    <wsdl:input name="consultarDadosCadastraisServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="consultarDadosCadastraisServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="consultarMargemServidor">
    <wsdlsoap:operation soapAction="urn:consultarMargemServidor"/>
    <wsdl:input name="consultarMargemServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="consultarMargemServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="detalharConsultaConsignacaoServidor">
    <wsdlsoap:operation soapAction="urn:detalharConsultaConsignacaoServidor"/>
    <wsdl:input name="detalharConsultaConsignacaoServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="detalharConsultaConsignacaoServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="inserirSolicitacaoServidor">
    <wsdlsoap:operation soapAction="urn:inserirSolicitacaoServidor"/>
    <wsdl:input name="inserirSolicitacaoServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="inserirSolicitacaoServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="simularConsignacaoServidor">
    <wsdlsoap:operation soapAction="urn:simularConsignacaoServidor"/>
    <wsdl:input name="simularConsignacaoServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="simularConsignacaoServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="consultarContraChequeServidor">
    <wsdlsoap:operation soapAction="urn:consultarContraChequeServidor"/>
    <wsdl:input name="consultarContraChequeServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="consultarContraChequeServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="gerarSenhaAutorizacaoServidor">
    <wsdlsoap:operation soapAction="urn:gerarSenhaAutorizacaoServidor"/>
    <wsdl:input name="gerarSenhaAutorizacaoServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="gerarSenhaAutorizacaoServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="verificarLimitesSenhaAutorizacao">
    <wsdlsoap:operation soapAction="urn:verificarLimitesSenhaAutorizacao"/>
    <wsdl:input name="verificarLimitesSenhaAutorizacaoRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="verificarLimitesSenhaAutorizacaoResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="recuperarPerguntaDadosCadastrais">
    <wsdlsoap:operation soapAction="urn:recuperarPerguntaDadosCadastrais"/>
    <wsdl:input name="recuperarPerguntaDadosCadastraisRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="recuperarPerguntaDadosCadastraisResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="verificarRespostaDadosCadastrais">
    <wsdlsoap:operation soapAction="urn:verificarRespostaDadosCadastrais"/>
    <wsdl:input name="verificarRespostaDadosCadastraisRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="verificarRespostaDadosCadastraisResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="verificarEmailServidor">
    <wsdlsoap:operation soapAction="urn:verificarEmailServidor"/>
    <wsdl:input name="verificarEmailServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="verificarEmailServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="cadastrarEmailServidor">
    <wsdlsoap:operation soapAction="urn:cadastrarEmailServidor"/>
    <wsdl:input name="cadastrarEmailServidorRequest">
      <wsdlsoap:body use="literal"/>
    </wsdl:input>
    <wsdl:output name="cadastrarEmailServidorResponse">
      <wsdlsoap:body use="literal"/>
    </wsdl:output>
  </wsdl:operation>
</wsdl:binding>
<wsdl:service name="ServidorService-v2_0">
  <wsdl:port name="ServidorHttpPort" binding="tns:ServidorHttpBinding">
    <wsdlsoap:address location="http://localhost:8080/services/ServidorService-v2_0"/>
  </wsdl:port>
</wsdl:service>
</wsdl:definitions>