src/main/resources/wsdl/xsd/operacional/v7/AnexoConsignacao.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="AnexoConsignacao">
  <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="../../schemas.xmlsoap.org_soap_encoding.xsd"/>
  <xsd:complexType name="AnexoConsignacao">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="nomeArquivo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="tipoArquivo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="descricaoTipoArquivo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="arquivo" nillable="true" type="soapenc11:base64"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
