src/main/resources/wsdl/xsd/lote/LoteService.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="LoteService-v1_0"
    xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:ns11="Anexo">
  <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="../schemas.xmlsoap.org_soap_encoding.xsd"/>
  <xsd:import namespace="Anexo" schemaLocation="v1/Anexo.xsd"/>
  <xsd:element name="loteUploadRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="tipo" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="leiaute" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="lote" nillable="false" type="ns11:Anexo"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="identificador" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="loteUploadResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="codRetorno" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="loteResultRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="usuario" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="senha" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="identificador" nillable="false" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="loteResultResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="codRetorno" nillable="false" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="mensagem" nillable="true" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="0" name="lote" nillable="false" type="ns11:Anexo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
