src/main/resources/wsdl/xsd/operacional/v1/DadoConsignacao.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="DadoConsignacao">
  <xsd:complexType name="DadoConsignacao">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="codigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="descricao" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valor" nillable="false" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
