src/main/resources/wsdl/xsd/operacional/v1/InfoMargem.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="InfoMargem">
  <xsd:complexType name="InfoMargem">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="estabelecimento" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="orgaoCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="orgao" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="categoria" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="servidor" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="dataNascimento" nillable="false" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="dataAdmissao" nillable="false" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="prazoServidor" nillable="true" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valorMargem" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="textoMargem" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valorMargem2" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="textoMargem2" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valorMargem3" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="textoMargem3" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
