src/main/resources/wsdl/xsd/operacional/v1/SituacaoServidor.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="SituacaoServidor">
  <xsd:complexType name="SituacaoServidor">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="ativo" nillable="true" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="bloqueado" nillable="true" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="excluido" nillable="true" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
