src/main/resources/wsdl/xsd/operacional/v1/Solicitacao.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="Solicitacao">
  <xsd:complexType name="Solicitacao">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="dataReserva" nillable="true" type="xsd:dateTime"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="adeNumero" nillable="true" type="xsd:long"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="servidor" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="telefone" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="cpf" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="matricula" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valorParcela" nillable="false" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="prazo" nillable="false" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="servico" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="codVerba" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="valorLiberado" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="taxaJuros" nillable="true" type="xsd:double"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimento" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgao" nillable="true" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="estabelecimentoCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="orgaoCodigo" nillable="false" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="servicoCodigo" nillable="false" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
